
replicaCount: 1

PYTHONUNBUFFERED: 1
C_FORCE_ROOT: 1
DJANGO_DB_NAME: taiga
DJANGO_DB_PASSWORD: DB_PASSWORD
DJANGO_DB_USER: taiga
DJANGO_SECRET_KEY: DJANGO_SECRET
TAIGA_SECRET: DJANGO_SECRET
GOOGLE_API_ALLOW_DOMAIN: MYHOSTNAME
GOOGLE_API_CLIENT_ID: XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
GOOGLE_API_CLIENT_SECRET: XXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_API_REDIRECT_URI: https://MYHOSTNAME/login
GOOGLE_RESTRICT_LOGIN: MYDOMAIN
POSTGRES_DB: taiga
POSTGRES_PASSWORD: DB_PASSWORD
POSTGRES_USER: taiga
RABBITMQ_DEFAULT_USER: taiga
RABBITMQ_DEFAULT_PASS: RABBIT_PASS
RABBITMQ_DEFAULT_VHOST: taiga
RABBITMQ_ERLANG_COOKIE: 'ERLANGE_PASS'
TAIGA_HOSTNAME: MYHOSTNAME
TAIGA_PUBLIC_REGISTER_ENABLED: false
TAIGA_SSL: True
TAIGA_DB_CHECK_SLEEP_INTERVAL: 5
TAIGA_DB_CHECK_LIMIT_RETRIES: 10
